//- Entry
//- composed of accessory components:
//-   - EntryImage
//-   - EntryHeader
//-   - EntryDescription
mixin Entry
  .Entry&attributes(attributes)
    block
      
//- Entry Header
mixin EntryHeader
  header
    block



//- Entry Title
mixin EntryTitle(title_1, title_2)
  .row.no-gutters.justify-content-between
    if (title_1)
      .col.col-left
        .heading-1= title_1
    if (title_2)
      .col.col-right
        .heading-2= title_2



//- Entry Subtitle
mixin EntrySubtitle(subtitle_1, subtitle_2)
  .row.no-gutters.justify-content-between
    if (subtitle_1)
      .col.col-left
        .subtitle-1= subtitle_1
    if (subtitle_2)
      .col.col-right
        .subtitle-2= subtitle_2
  


//- Entry Description
mixin EntryDescription(desc)
  .row.no-gutters
    .col
      p= desc

//- Entry Image
mixin EntryImage(src, alt, width, height=150)
  - var ht = (height.replace) ? height.replace('px', '') + "px" : height+"px";
  figure(style={height: ht})
    img(src=src, alt=alt, width=width)
  


mixin EntrySkillList(skills)
  ul.d-flex.flex-row-reverse.no-gutters.skills
    each skill in skills
      li.col-auto.skill= skill     
