extends layout

block content
  h1= `List ${title.plural}`
    small= ` (${items.length})`

  if !items.length
    h4= `No ${title.plural}`

  if items.length
    .grid-x.grid-padding-x.grid-margin-y
      for item in items
        .cell.small-12.large-6
          h3= item[item_display.title_key]
          h4= item[item_display.subtitle_key]
          for key in item_display.keys
            .grid-x.grid-padding-y
              .cell.small-12.medium-3= key
              code.cell.small-12.medium-9= item[key]
