extends layout

block content
  h1= title
    small= ` (${accounts.docs.length})`

  if !accounts.docs.length
    h4 No Accounts

  if accounts.docs.length
    ul
      for account in accounts.docs
        li
          h3= account.title
          h4= account.url
          table
            tr
              td Id
              td= account._id
            tr
              td Slug
              td= account.slug
            tr
              td Font Awesome Icon Classes
              td= account.faIconClasses
            tr
              td Created
              td= account.createdAt
            tr
              td Modified
              td= account.modifiedAt
